/* global settings */
button {
    background-color: purple;
    border-radius: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 50px;
    font-size: 50px;
}
/*  */
/*  */

/* header bar */
header {
    width: 100%;
    height: 70px;;
    background-color: black;
    display: flex;
    justify-content: center;
}

#main-header {
    color: white;
    font-size: 40px;
    display: flex;
    align-self: center;
    margin: 0 40px;
}

#main-span {
    font-size: 20px;
    padding: 15px 0 0 10px;
}

/*  */
/*  */

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*  */
/* Format the article that displays upon page open */
#welcome-article {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 450px;
    border: 2px solid black;
    border-radius: 15px;
    align-items: center;
    background-color: rgba(215, 206, 176, 0.526);
}

#welcome-header {
    font-size: 80px;
    color: black;
    margin: 40px 55% 0 0;
}

#welcome-hr {
    width: 80%;
    background-color: rgb(142, 142, 142);
    height: 1px;
    border: none;
    margin: 20px 5% 0 0;
}

#welcome-prompt {
    font-size: 25px;
    font-weight: bold;
    line-height: 140%;
    margin: 20px 25px 0 25px;
}

#btn-begin {
    margin: 60px 0 0 0; 
    width: 400px;
}
/*  */
/*  */

/* Format the article that contains the questions */
#quiz-article {
    width: 60%;
    height: fit-content;
    border: 2px solid black;
    border-radius: 20px;
    max-width: 900px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#card-header {
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
    background-color: black;
    color: white;
    width: 100%;
}

#time {
    font-size: 50px;
}

#question-number {
    display: none;
    font-size: 22px;
    font-weight: bold;
}

#question-prompt {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 10px 0;
    display: none;
}
/*  */



article p {
    margin: 20px 0;
}



#card {
    display: none;
    width: 95%;
    padding: 2%;
    margin: 2%;
}



h1 {
    margin: 20px 20px;
    font-size: 30px;
    font-family: Noto-Sans;
}


#after-action {
    color: black;
}


#btn-play-again {
    display: none;
}

#btn-check-highscore {
    display: none;
}



/* hide answer buttons before quiz begins */
#answer-list {
    display: none;
}

.answer-button1 {
    font-size:  16px;
    font-weight: bold;
    margin: 5px 0;
    padding: 25px 40px;
    width: 90%;
    background-color: rgba(128, 0, 128, 0.822);
}

.answer-button2 {
    font-size:  16px;
    font-weight: bold;
    margin: 5px 0;
    padding: 25px 40px;
    width: 90%;
}

#scoreboard {
    width: 30%;
    border: 2px solid black;
    border-radius: 20px;
    display: none;
}

/* wraps correct and incorrect rows seperately */
section div {
    display: flex;
    flex-direction: row;
}

/* Score and highscore headers */
section h2 {
    font-size: 30px;
    margin: 20px 0 0 20px;
}

/* correct and incorrect headers */
section h3 {
    color: rgb(0, 0, 0);
    padding: 10px 10px 3px 10px;
    font-size: 20px;
    margin: 0 0 20px 30px;
}

#correct {
    border-bottom: 2px solid rgb(2, 110, 2);
    justify-content: center;
}

#incorrect {
    border-bottom: 2px solid rgb(137, 2, 2);
    justify-content: center;
}

span.score-count {
    padding: 0px 30px;
    display: flex;
    align-self: center;
    font-size: 50px;
    width: 50%;
}

hr {
    width: 100%;
    background-color: gray;
    height: 1px;
    border: none;
}