/* global settings */
:root {
    --wheat-background: rgba(215, 206, 176, 0.526);
    --brown-background:  rgba(202, 133, 42, 0.507);
}

input {
    height: 40px;
    width: 90%;
    padding: 0 0 0 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #001b44;
    margin: 20px 5% 0 5%;
}

button {
    background-color: purple;
    border-radius: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 50px;
    font-size: 50px;
}
/*  */
/*  */

/* header bar */
header {
    width: 100%;
    height: 70px;;
    background-color: black;
    display: flex;
    justify-content: center;
}

#main-header {
    color: white;
    font-size: 40px;
    display: flex;
    align-self: center;
    margin: 0 40px;
}

#main-span {
    font-size: 20px;
    padding: 15px 0 0 10px;
}

/*  */
/*  */

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*  */
/* Format the article that displays upon page open */
#welcome-article {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 450px;
    border: 2px solid black;
    border-radius: 15px;
    align-items: center;
    background-color: var(--wheat-background);
}

#welcome-header {
    font-size: 80px;
    color: black;
    margin: 40px 55% 0 0;
}

#welcome-hr {
    width: 80%;
    background-color: rgb(142, 142, 142);
    height: 1px;
    border: none;
    margin: 20px 5% 0 0;
}

#welcome-prompt {
    font-size: 25px;
    font-weight: bold;
    line-height: 140%;
    margin: 20px 25px 0 25px;
}

#btn-begin {
    margin: 60px 0 0 0; 
    width: 400px;
}
/*  */
/*  */

/*  */
/* Format the quiz article */
#quiz-article {
    width: 60%;
    height: fit-content;
    border: 2px solid black;
    background-color: var(--wheat-background);
    border-radius: 20px;
    max-width: 900px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 500px;
}
/*  */
/*  */

/*  */
/* Format the quiz header */
#quiz-header {
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#question-number {
    /* display: none; */
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0 10px 20px;
}

#time {
    font-size: 30px;
    padding: 10px 80px 0 20px;
}
/*  */
/*  */

/*  */
/* Format question prompt and answer buttons */
#question-prompt {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 10px 20px;
    /* display: none; */
}

#quiz-hr {
    width: 95%;
    background-color: gray;
    height: 1px;
    border: none;
    margin: 0 5% 0 0;
}

#answer-button-list {
    margin: 30px 0 0 0;
}

.answer-button1 {
    font-size:  16px;
    font-weight: bold;
    margin: 5px 10% 5px 10%;
    padding: 25px 40px;
    width: 80%;
    background-color: rgba(128, 0, 128, 0.822);
}

.answer-button2 {
    font-size:  16px;
    font-weight: bold;
    margin: 5px 10% 5px 10%;
    padding: 25px 40px;
    width: 80%;
}
/*  */
/*  */

/*  */
/* Format the after-action content to display score and highscore submission form after quiz completion */
#after-action {
    display: none;
    font-size: 30px;
    margin: 50px 0 50px 100px;
}

#submit-score {
    display: none;
}

#form-header {
    font-size: 20px;
    margin: 5%;
}

#btn-play-again {
    width: 60%;
    display: none;
    margin: 100px 20% 0 20%;
}
/*  */
/*  */

article p {
    margin: 20px 0;
}



#question-section {
    display: none;
    width: 95%;
    padding: 2%;
    margin: 2%;
}



h1 {
    margin: 20px 20px;
    font-size: 30px;
    font-family: Noto-Sans;
}


#after-action {
    color: black;
}



/*  */
/* Format scoreboard */
#scoreboard {
    width: 30%;
    border: 2px solid black;
    border-radius: 20px;
    display: none;
    background-color: var(--wheat-background);
    height: 420px;
}

#scoreboard-hr {
    width: 90%;
    background-color: rgb(145, 81, 29);
    height: 1px;
    border: none;
    margin: 5px 5% 20px 3%;
}

.correct-count {
    color: rgb(2, 110, 2);
    padding: 0px 30px;
    display: flex;
    align-self: center;
    font-size: 45px;
    width: 50%;
}

.incorrect-count {
    color: rgb(137, 2, 2);
    padding: 0px 30px;
    display: flex;
    align-self: center;
    font-size: 40px;
    width: 50%;
    margin: 20px 0 0 0;
}

#correct {
    border-bottom: 2px solid rgb(2, 110, 2);
    justify-content: center;
    margin: 10px 0 0 100px;
}

#incorrect {
    border-bottom: 2px solid rgb(137, 2, 2);
    justify-content: center;
    margin: 30px 0 0 100px;
}
/*  */
/*  */



/* wraps correct and incorrect rows seperately */
section div {
    display: flex;
    flex-direction: row;
}

/* Score and highscore headers */
section h2 {
    font-size: 30px;
    margin: 20px 0 0 20px;
}

/* correct and incorrect headers */
section h3 {
    color: rgb(0, 0, 0);
    padding: 10px 10px 3px 10px;
    font-size: 20px;
    margin: 0 0 20px 30px;
}



hr {
    width: 100%;
    background-color: gray;
    height: 1px;
    border: none;
}