header {
    width: 100%;
    height: 70px;;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

h3 {
    color: white;
    font-size: 30px;
    display: flex;
    align-self: center;
    margin: 0 40px;
}



#after-action {
    display: none;
}



main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

article {
    width: 60%;
    height: fit-content;
    border: 2px solid black;
    border-radius: 20px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}



article p {
    margin: 20px 0;
}

#btn-begin {
    margin: 10px 0; 
}

#card {
    display: none;
    width: 95%;
    padding: 2%;
    margin: 2%;
}

#card-header {
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
    background-color: black;
    color: white;
    width: 100%;
}

h1 {
    margin: 20px 20px;
    font-size: 30px;
    font-family: Noto-Sans;
}

/* #question-number {
    display: none;
} */

#question-prompt {
    display: none;
}

#after-action {
    color: black;
}

button {
    background-color: purple;
    border-radius: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 50px;
    font-size: 50px;
}

#btn-play-again {
    display: none;
}

#btn-check-highscore {
    display: none;
}

#question-prompt {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

/* hide answer buttons before quiz begins */
#answer-list {
    display: none;
}

.answer-button1 {
    font-size:  16px;
    font-weight: bold;
    margin: 5px 0;
    padding: 25px 40px;
    width: 90%;
    background-color: rgba(128, 0, 128, 0.822);
}

.answer-button2 {
    font-size:  16px;
    font-weight: bold;
    margin: 5px 0;
    padding: 25px 40px;
    width: 90%;
}

#scoreboard {
    width: 30%;
    border: 2px solid black;
    border-radius: 20px;
}

/* wraps correct and incorrect rows seperately */
section div {
    display: flex;
    flex-direction: row;
}

/* Score and highscore headers */
section h2 {
    font-size: 30px;
    margin: 20px 0 0 20px;
}

/* correct and incorrect headers */
section h3 {
    color: rgb(0, 0, 0);
    padding: 10px 10px 3px 10px;
    font-size: 20px;
    margin: 0 0 20px 30px;
}

#correct {
    border-bottom: 2px solid rgb(2, 110, 2);
    justify-content: center;
}

#incorrect {
    border-bottom: 2px solid rgb(137, 2, 2);
    justify-content: center;
}

span.score-count {
    padding: 0px 30px;
    display: flex;
    align-self: center;
    font-size: 50px;
    width: 50%;
}

hr {
    width: 100%;
    background-color: gray;
    height: 1px;
    border: none;
}